.container {
    background-image: url("../../Assets/backgroundLogin.png");
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    border-radius: 50px;
}

.textContainer {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.itemContainer {
    display: flex;
    width: 55%;
}

.errorContainer {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 45%;
    color: aliceblue;
}

.labelContainer {
    color: aliceblue;
}